.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    color: white;

}

.dialogsItems .active {
    color: gold
}

.dialog {

}

.active {
    color: gold

}

.masseges {
    padding: 10px;

}

.masseges.massege {
   color: white;

}

