.dialogs {
    display: grid;
    grid-template-columns: 20fr 10fr ;
    /*place-items: center;*/
    /*gap: 100px;*/
}

.dialogsItems {
    color: white;

}


.textArea {
    width:500px;
    height:100px;
    margin-left: 50px;
    margin-left: 20px;
    margin-top: 10px;

}

.buttonMessage {
    width:100px;
    height:20px;
    margin-left: 20px;
}

.active {
    color: gold

}

.messages {
    display: grid;


}


